<% content_for :meta do %>
  <title><%= @title %></title>
  <link rel="author" href="https://plus.google.com/112746119485051615074">
  <meta name="author" content="Amin Ariana">
  <meta name="copyright" content="Amin Ariana <%= Date.today.year %>">
  <meta name="description" content="<%= @description %>">
  <meta name="keywords" content="keywords">
  <meta property="og:description" content="<%= @description %>">
  <meta property="og:title" content="<%= @title %>">
  <meta property="og:url" content="<%= @callback %>">
<% end %>

<h1><%= @title %></h1>
<p><%= @description %></p>
<p>Success! Redirecting to <%= link_to @callback, @callback %> momentarily.</p>
<small>
  Meta wrap provided by: 
  <a href="https://github.com/aminariana/opengraph-meta-describer">Opengraph Meta Descriptor</a>
</small>